# Ciclo 01 - Fundamentos
---
## Aula 09: Respondendo as perguntas de negócio

In [3]:
import pandas as pd #Importação do pandas e definindo um apelido

df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

1.  **Qual o valor médio do aluguel na cidade de Nova York?**

In [2]:
print(df["price"].mean())

152.7206871868289

2. **Quais os nomes das regiões que existem na cidade de Nova York?**

In [5]:
print(df["neighbourhood_group"].unique())

['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']

3. **Qual o valor do aluguel diário mais caro da cidade de Nova York?**

In [4]:
print(df["price"].max())

10000

## Aula 10 - Exercícios

1. **Some o valor 10 com 30 e exiba na tela**

In [7]:
a = 10
b = 30
print(a+b)

40

2. **Some os seguintes números: 10, 300, 0.4, 10**

In [8]:
w = 10
x = 300
y = 0.4
z = 10
print(w+x+y+z)

320.4

3. **Desenvolva comandos em Python capaz de calcular a média harmônica entre 5 números. Por exemplo: 2, 3, 5, 6 e 9**

In [15]:
numeros = [2,3,5,6,9]
divisao_inverso = map(lambda x: 1 / x, numeros)
soma_inversos = sum(divisao_inverso)
media_harmonica = len(numeros) / soma_inversos

print(media_harmonica)

3.8135593220338984

4. **Um Cientista de Dados Jr precisa criar sequência de comandos que seja capaz de calcular a média ponderada dos valores digitados pelo usuário. O usuário é capaz de digitar 8 valores. O primeiro número tem peso 0.5 ,o segundo 1.0, o terceiro 1.5 até o último valor que tem peso 4, ou seja, os pesos são acrescidos de 0.5 para cada valor. Portanto, o algoritmo deve ser capaz de calcular a média ponderada dos oito valores digitados pelo usuário, cada valor com o seu respectivo peso.**

    - valor_01 = input( "Digite o primeiro valor" )
    - valor_02 = input( "Digite o segundo valor" )
    - valor_03 = input( "Digite o terceiro valor" )
    - valor_04 = input( "Digite o quarto valor" )

In [ ]:
lista_de_numeros = []
lista_de_pesos = []
print("Olá! Por favor digite apenas valores numéricos ;)")
pesos = 0
for i in range(1, 9):
    try:
        pesos = pesos + 0.5
        numero = float(input(f"Digite um {i}º número: "))
        lista_de_numeros.append(numero)
        lista_de_pesos.append(pesos)
    except:
        print("Eu disse para digitar apenas números X(")
        break
multiplicacao_com_pesos = sum(lista_de_numeros[i] * lista_de_pesos[i] for i in range(len(lista_de_numeros)))
soma_pesos = sum(lista_de_pesos)
media_ponderada = multiplicacao_com_pesos / soma_pesos
print(media_ponderada)

5. **Um programador Jr precisa construir uma mini calculadora. Essa calculadora segue os seguintes padrões:**
    1. Se o usuário digital um valor menor ou igual a 5, a calculadora vai multiplicar esse valor por 10 e retornar o valor resultantes para o usuário;
    2. Se o usuário digitar um número entre 6 e 10, a calculadora multiplica por 20 o número digitado pelo usuário;
    3. Se o usuário digitar um valor maior ou igual a 11, a calculadora soma 100 ao número digitado. Ajude o programador Jr a construir essa calculadora, fornecendo os comandos em Python para ele.

In [34]:
try:
    valor_usuario = float(input("Digite um valor númerico: "))
    if valor_usuario > 10: # Se o valor for mais que 10
        resultado_final = valor_usuario + 100
    elif valor_usuario >=6 and valor_usuario <=10: # Se o valor for maior ou igual a 6 e menor ou igual a 10
        resultado_final = valor_usuario * 20
    else: # Se não o valor será menor ou igual a 5
        resultado_final = valor_usuario * 10
    print(resultado_final)
except:
    print("Disse para digitar apenas números :=(")

Digite um valor númerico: 1
10.0

6. **Um programador Jr precisa criar um algoritmo que consiga fazer a comparação entre três valores e exibir qual é o maior e qual é o menor valor digitado. Ajude o programador desenvolvendo o código em Python**

In [39]:
lista_de_valores = [-1,5,11]
print(f"O maior valor dentre os 3 valores é: {max(lista_de_valores)}, e o menor valor é: {min(lista_de_valores)}")

O maior valor dentre os 3 valores é: 11, e o menor valor é: -1